.calendar_container {
    display: grid;
    grid-template-columns: 40px auto 40px;
}

.left-panel {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.right-panel {
    display: flex;
    align-items: center;
    justify-content: center; 
}

i.big-icon {
    font-size: 40px;
    cursor: pointer;
}
