<html>
    <head>
            <title>Just Another Simple Calendar</title>                        
    </head>
    <body>
            <div id='container'>

            </div>
         
    </body>
</html>