<html>
    <head>
            <title>Just Another Simple Calendar</title>     
            <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
            <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css"> <!-- load fontawesome -->             
    </head>
    <body class='container'>
            <div class="jumbotron text-center">
                    <h1><span class="fa fa-lock"></span> What should I do next ?</h1>
            
                    <p>Login or Register with:</p>
            
                    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
            </div>
    </body>
</html>